# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore Django migrations
*/migrations/

# Ignore environment files
.env

# Ignore database files
online_voting/db.sqlite3

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
