<!-- voting/templates/voting/event_detail.html -->

{% extends 'voting/base.html' %} {% block content %} {% if messages %}
<div class="mt-4 mb-0">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert"
        style="position: absolute; bottom: 0; right: 0">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        setTimeout(function () {
            document.querySelector(".alert").remove();
        }, 3000);
    </script>
    {% endfor %}
</div>
{% endif %}

<h2>{{ event.event_name }}</h2>
<p><strong>Event Token:</strong> {{ event.event_token }}</p>
<p>
    <strong>Event Duration:</strong> {{ event.start_time }} to {{ event.end_time}}
</p>

<h3>Candidates:</h3>
<form action="{% url 'voting:vote' event.id %}" method="post">
    {% csrf_token %}
    <div class="row mt-3 rounded-10">
        {% for candidate in candidates %}
        <div class="col-md-3">

            <div class="card mb-3 {% if candidate.id == voted_candidate.id %}border border-success{% endif %} ">
                {% if candidate.profile_pic %}
                <img src="{{ candidate.profile_pic.url }}" class="card-img-top img-fluid" style="
            width: auto;
            height: 300px;
            object-fit: cover;
            padding: 10px;
            border: none;
            border-radius: 20px;
          " alt="{{ candidate.name }}" />
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ candidate.name }}</h5>
                    <p class="card-text">{{ candidate.description }}</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="candidate_{{ candidate.id }}" name="candidate"
                            value="{{ candidate.id }}" />
                        <label class="form-check-label" for="candidate_{{ candidate.id }}">Vote</label>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success mt-4">Cast Your Vote</button>
    <a href="{% url 'voting:vote_result' event_id=event.id %}">
        <button type="button" class="btn btn-success mt-4">View Result</button>
    </a>
</form>
{% endblock %}