<!-- templates/voting/event_list.html -->
{% extends 'voting/base.html' %}

{% block title %}My Events{% endblock %}

{% block content %}
<h2>My Events</h2>
{% if events %}
    <ul class="list-group">
        {% for event in events %}
            <li class="list-group-item">
                <a href="{% url 'voting:event_detail_by_id' event.id %}">{{ event.event_name }}</a>
                <p>{{ event.start_time }} - {{ event.end_time }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No events created yet.</p>
{% endif %}
{% endblock %}