{% extends 'voting/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}

{% block content %}

 <!-- Display Messages -->
 {% if messages %}
 <div class="mt-4 mb-0">
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="position: absolute; bottom: 0; right: 0;">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <script>
            setTimeout(function() {
                document.querySelector('.alert').remove();
            }, 3000);
        </script>
    {% endfor %}
     
 </div>
{% endif %}

<div class="container my-4">
    <h2>Update Your Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    
                    {{ user_form.username|as_crispy_field }}
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="id_password" placeholder="Enter new password if you want to change it">
                </div>
                <div class="mb-3">
                    
                    {{ profile_form.profile_picture|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ profile_form.birthday|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ profile_form.timezone|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>                
        </div>
    </form>
</div>
{% endblock %}